/* Write your CSS here! */
body {
    font-family: 'PT Sans Caption', Tahoma, Verdana, sans-serif;
    background-color: #509099;
}

#mainHeading {
    color: #672020;
    text-align: center;
}

body {
    margin: 8px;
    display: block;
}

.funParagraph {
    color: #206720;
}

h2 {
    text-align: center;
}

h3 {
    margin-left: 600px;
    
}

.images {
    float: right;
    margin-left: 20px;
}

.uniImages {
    float: left;
    margin-right: 20px;
}

/*.makeBetter {
    margin: 500px;
    padding: 10px;
}*/

#testingBorder {
    border-color: #509099;
    border-width: 10px;
    border-style: solid;
    padding-bottom: 50px;
}

#makeSmallLater {
    font-size: 0.75em;
}